{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Mentions légales{% endblock %}

{% block body %}
    <main class="w-75 mx-auto">
        <h2>Mentions légales</h2>
        <p>Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l’économie numérique, il est précisé aux utilisateurs du site zyno.fr l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>
        <h3 class="h5">Edition du site</h3>
        <p>Le site zyno.fr est édité par la société Zyno, société par actions simplifiée au capital de 10.051,50 euros, dont le siège social est situé 30 rue du Maire André Traband, 67500 Haguenau, immatriculée au registre du commerce et des sociétés sous le numéro d’identification unique 123 456 789 RCS Strasbourg.</p>
        <h3 class="h5">Responsable de publication</h3>
        <p>Loïc Mura</p>
        <h3 class="h5">Nous contacter</h3>
        <p>Par email : support@zyno.fr</p>
        <h3 class="h5">CNIL</h3>
        <p>la société LegalPlace conservera dans ses systèmes informatiques et dans des conditions raisonnables de sécurité une preuve de la transaction comprenant le bon de commande et la facture. Conformément aux dispositions de la loi 78-17 du 6 janvier 1978 modifiée, l’Utilisateur dispose d’un droit d’accès, de modification et de suppression des informations collectées par LegalPlace. Pour exercer ce droit, il reviendra à l’Utilisateur d’envoyer un message à l’adresse suivante : support@zyno.fr</p>
    </main>
{% endblock %}