.btn {
    &-primary {
        background-color: $blue;
        border-color: $blue;

        &:hover {
            $blue: scale-color($blue, $lightness: -25%);
            background-color: $blue;
            border-color: $blue;
        }
    }
}