@import url(https://fonts.googleapis.com/css?family=Prata:regular);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

$f-sans: 'Montserrat', sans-serif;
$f-serif: 'Prata', serif;

$white: #f0f0f0;
$grey: #242424;
$dark-blue: #0d0f26;
$blue: #4a74a9;