<h1>Message envoyé depuis Zyno.fr</h1>
<p>{{ contact.firstName~' '~contact.lastName }} vous a envoyé ce message :</p>
<p>{{ contact.message }}</p>
<p>Vous pouvez le contacter en répondant ou à cette adresse : {{ contact.email }}</p>
